body{font-family: 'Mitr', sans-serif;}
h1{font-size: 40px;}
.name-highlight{color: orange;}
.helf-width{width: 40%;float: left;padding: 2%;margin: 2%;text-align: justify;}
.helf-widht img{width: 80%;}
